@charset "UTF-8";
.hestia-about ul {
	font-size: 18px;
}
.hestia-blogs {
	 display: none;
 }
.home .main-raised section:first-of-type {
	background: white;
}
.navbar.navbar-not-transparent > .container .navbar-brand {
	width: 117px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
}
.navbar-not-transparent .navbar-brand img {
	display: none;
}
.carousel .buttons a {
	width: 160px;
}
.pirate-forms-placeholder .pirate-forms-placeholder-overlay {
	display: none;
}
.contactus {
	padding: 70px;
}